{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Static Template</title>
		<link rel="stylesheet" href="{% static 'style.css' %}" />
	</head>
	<body>
		<label class="box first-box">
			<span></span>
		</label>
		<label class="box second-box">
			<span></span>
		</label>
		<label class="box third-box">
			<span></span>
		</label>
		<label class="box fourth-box">
			<span></span>
		</label>
		<label class="box fifth-box">
			<span></span>
		</label>
	</body>
</html>