{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Static Template</title>
    <link rel="stylesheet" href="{% static 'home_style.css' %}"/>
</head>
<body>
<div class="container">

    <label class="box first-box">
        <span>
        </span>
    </label>

    <label class="box second-box">
        <span></span>
    </label>
    <label class="box third-box">
        <span></span>
    </label>
    <label class="box fourth-box">
        <span></span>
    </label>
    <label class="box fifth-box">
        <span></span>
    </label>
</div>
<div id="mainButtonContainer">
    <div id="mainButton">
        <div class="btn-text" onclick="openForm()">add</div>
        <div class="modal">
            <div class="close-button" onclick="closeForm()">x</div>
            <div class="form-title">Add a new Card</div>
            <div class="input-group">
                <input type="text" id="front" onblur="checkFrontInput(this)" oninput="updateFront(this)"/>
                <label for="front">Front</label>
                <label for="front" id="front_error"></label>
            </div>
            <div class="input-group">
                <input type="text" id="back" onblur="checkBackInput(this)" oninput="updateBack(this)"/>
                <label for="back">Back</label>
            </div>
            <div class="form-button" id="add-card-btn">Add Card</div>
            <div class="card">
                <div class="content">
                    <div class="front">
                        [Front!]
                    </div>
                    <div class="back">
                        [Back!]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="break"></div>
    <div id="mainButton">
        <div class="btn-text">review</div>
    </div>
    <div class="break"></div>
    <div id="mainButton">
        <div class="btn-text" id="list-cards-btn">view cards</div>
    </div>
</div>

<div id="cardsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h4>cards</h4>
        <div id="cardsContainer"></div>
    </div>
</div>

</body>
</html>
<script src="{% static 'home.js' %}"></script>
